<div class="row d-flex justify-content-center mt-5" *ngIf="loading" style="height: 100%;">
    <div class="spinner-grow text-danger spinnerColor" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-danger spinnerColor"  role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-danger spinnerColor" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>
 <div class=" row justify-content-md-center mb-1 mp-1">
        <div class="card " style="width: 50rem;height: 100%;" *ngIf="!loading">
           
            <div class="card-body" style="width: 100%;">
                <div class="row ">
                     <div class="col-lg-12">
                         <h2 class="card-title text-center">{{ciudad.name}}</h2>
                         <h3 class="card-title text-center">{{ciudad.province}}</h3>
                         <h2 class="card-subtitle mb-2 text-center text-muted">Actualmente {{ciudad.wheater}}</h2>
                      </div>
                  </div>
                 <div class="row justify-content-md-center">
                    
                   
                     <div class="col-lg-5 text-center">
                      
                       <h1><img style="width: 120px;height: 120px;" src="../assets/img/sun.png" >{{ciudad.temp | number: '1.2-2'}} °C</h1>
                    </div>
                    <div class="col-lg-5">
                        <p class="float-left mt-5"></p>
                       <h3 class="float-right mt-5"> Fecha: {{ciudad.date | date: 'dd/MM/yyyy'}}</h3>
                    </div>
                 </div>

                 <div class="row justify-content-md-center">
                    <div class="col-lg-5">
                        <ul class="list-group list-group-flush">
                            
                            <li class="list-group-item">
                                <p class="float-left">Max:</p>
                                <span class="float-right"><img class="icon" src="../assets/img/max.png" />{{ ciudad.temp_max | number: '1.2-2'}} °C</span>
                            </li>
                            <li class="list-group-item">
                                <p class="float-left">Viento:</p>
                                <span class="float-right"> <img class="icon" src="../assets/img/windy.png" />{{ciudad.wind_speed }} km/h </span>
                            </li>
                            <li class="list-group-item">
                                <p class="float-left">Humedad:</p>
                                <span class="float-right"><img class="icon" src="../assets/img/humidity.png" /> {{ciudad.humidity}} %</span>
                            </li>
                           
                          </ul>
                    </div>
                    <div class="col-lg-5">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                             
                                <p class="float-left">Min:</p>
                                <span class="float-right"><img class="icon" src="../assets/img/min.png" />{{ ciudad.temp_min | number: '1.2-2'}} °C</span>
                            </li>
                            <li class="list-group-item">
                                <p class="float-left">Visibilidad:</p>
                                <span class="float-right"><img class="icon" src="../assets/img/visibility.png" />{{ ciudad.visibility}} /km</span>
                            </li>
                            <li class="list-group-item">
                                <p class="float-left">Presión:</p>
                                <span class="float-right"><img class="icon" src="../assets/img/compass.png" /> {{ciudad.pressure}} hPa</span>
                            </li>
                        
                           
                          </ul>
                     </div>
                </div>
                 
                <div class="row  ">
                    <div class="col-lg-12 text-center">
                        <button class="btn" mat-basic-button color="primary" routerLink="/">Volver</button>
       
                    </div>
                </div>
             
          </div>
       </div>
 </div>
 